{% extends 'base.html.twig' %}

{% block title %}ELITECARS | Coches{% endblock %}

{% block body %}
<main>
  <section class="find-a-car">
    <div class="container">
      <form id="filterForm" action="{{ path('app_coche_search') }}" method="GET" class="find-a-car-form card flex flex-col p-medium">
        <div class="find-a-car-inputs grid grid-cols-3 gap-4">
          <div>
            <label for="marca" class="block mb-1">Marca</label>
               <select id="marca" name="marca" class="w-full p-2 border rounded">
                <option value="">Todas las marcas</option>
                {% for marca in marcas %}
                  <option value="{{ marca.nombre }}">{{ marca.nombre }}</option>
                {% endfor %}
              </select>
          </div>
          <div>
            <label for="modelo" class="block mb-1">Modelo</label>
            <input type="text" id="modelo" name="modelo" placeholder="modelo" class="w-full p-2 border rounded"/>
          </div>
          <div>
            <label for="precioFrom" class="block mb-1">Precio Desde</label>
            <input type="number" id="precioFrom" name="precio_from" placeholder="Min precio" class="w-full p-2 border rounded"/>
          </div>
          <div>
            <label for="precioTo" class="block mb-1">Precio Hasta</label>
            <input type="number" id="precioTo" name="precio_to" placeholder="Max precio" class="w-full p-2 border rounded"/>
          </div>
          <div>
            <label for="kilometros" class="block mb-1">Kilómetros Máx.</label>
            <input type="number" id="kilometros" name="kilometros" placeholder="Máximo km" class="w-full p-2 border rounded"/>
          </div>
        </div>
        <div>
          <button type="reset" class="btn btn-find-a-car-reset">Reset</button>
          <button type="submit" class="btn btn-primary btn-find-a-car-submit">Buscar</button>
        </div>
      </form>
    </div>
  </section>

<section class="carroceria-filter my-5">
    <div class="container">
      <h2>Categorias</h2>
      <form id="carroceriaForm" action="{{ path('app_coche_search') }}" method="GET">
        <div class="car-items-listing">
          <a href="{{ path('app_coche_search', {'carroceria': 'berlina'}) }}" class="car-item card text-center " style="text-decoration: none;">
            <img src="{{ asset('images/mercedes-car.png') }}" alt="Berlina" class="w-full h-40 object-cover mb-2">
            <span class="car-item-title">Berlina</span>
          </a>
          
          <a href="{{ path('app_coche_search', {'carroceria': 'pickup'}) }}" class="car-item card text-center" style="text-decoration: none;">
            <img src="{{ asset('images/pickup.png') }}" alt="PickUp" class="w-full h-40 object-cover mb-2">
            <span class="car-item-title">PickUp</span>
          </a>
          <a href="{{ path('app_coche_search', {'carroceria': 'suv'}) }}" class="car-item card text-center " style="text-decoration: none;">
            <img src="{{ asset('images/suv-png.png') }}" alt="SUV" class="w-full h-40 object-cover mb-2">
            <span>SUV</span>
          </a>
        </div>
      </form>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Últimos Coches</h2>
      <div id="carItemsListing" class="car-items-listing">
        {% for coche in coches %}
          <div class="car-item card">
            <a href="{{ path('app_coche_show', {'id': coche.id}) }}">
              <img
                src="{{ asset('images/coches/' ~ coche.id ~ '/' ~ coche.cochesImages|first.rutaImagen) }}"
                alt=""
                class="car-item-img rounded-t"
              />
            </a>
            <div class="p-medium">
              <h2 class="car-item-title">{{ coche.marca }} {{ coche.modelo }} {{ coche.version }}</h2>
              <p class="car-item-price">{{ coche.precio }}€</p>
              <hr />
              <p class="m-0">
                <span class="car-item-badge">{{ coche.carroceria }}</span>
                <span class="car-item-badge">{{ coche.combustible }}</span>
                 <span class="car-item-badge">{{ coche.potencia }} HP</span>
              </p>
              
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>

<script>
  const filterForm = document.getElementById("filterForm");
  filterForm.addEventListener("submit", function(e) {
      e.preventDefault();
      const formData = new FormData(filterForm);
      const params = new URLSearchParams(formData);
      
      fetch(filterForm.action + "?" + params.toString(), {
          headers: { "X-Requested-With": "XMLHttpRequest" }
      })
      .then(response => response.text())
      .then(html => {
          document.getElementById("carItemsListing").innerHTML = html;
      })
      .catch(error => console.error("Error AJAX:", error));
  });
</script>
{% endblock %}