{% extends 'base.html.twig' %}

{% block title %}ELITECARS | Usuarios{% endblock %}

{% block body %}
  {% if app.user and ('ROLE_ADMIN' in app.user.roles) %}
    <section>
      <div class="container">
        <h2>Usuarios</h2>
        <div id="userItemsListing" class="user-items-listing grid grid-cols-3 gap-1">
          {% for usuario in usuarios %}
            <div class="user-item card">
              <div class="p-medium">
                <h2 class="user-item-title">{{ usuario.nombre }} {{ usuario.apellidos }}</h2>
                <p class="user-item-email">{{ usuario.email }}</p>
                <hr />
                <p class="m-0">
                  <span class="user-item-badge">{{ usuario.roles|join(', ') }}</span>
                </p>
                <hr />
                <div class="mt-small flex justify-between">
                  <a href="{{ path('app_usuario_show', {'id': usuario.id}) }}" class="btn btn-primary btn-sm">Ver Perfil</a>
                  <a href="{{ path('app_usuario_edit', {'id': usuario.id}) }}" class="btn btn-secondary btn-sm">Editar</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% else %}
    <div class="mb-3">
      <h3>NO TIENES PERMISOS O NO TE HAS LOGUEADO!! <a href="{{ path('app_login') }}">Volver a loguearte</a></h3>
    </div>
  {% endif %}
{% endblock %}