{% extends 'base.html.twig' %}

{% block title %}ELITECARS | Registrar{% endblock %}

{% block body %}
<body class="page-signup">
  <main>
    <div class="container-small page-login">
      <div class="flex" style="gap: 5rem">
        <div class="auth-page-form">
          <h1 class="auth-page-title">Crear Cuenta</h1>
          
          {{ form_start(form, {'attr': {'class': 'auth-page-form'}}) }}
            <div class="form-group">
              {{ form_label(form.email, 'Correo electrónico') }}
              {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Ingresa tu email'}}) }}
              {{ form_errors(form.email) }}
            </div>
            
            <div class="form-group">
              {{ form_label(form.nombre, 'Nombre') }}
              {{ form_widget(form.nombre, {'attr': {'class': 'form-control', 'placeholder': 'Ingresa tu nombre'}}) }}
              {{ form_errors(form.nombre) }}
            </div>
            
            <div class="form-group">
              {{ form_label(form.apellidos, 'Apellidos') }}
              {{ form_widget(form.apellidos, {'attr': {'class': 'form-control', 'placeholder': 'Ingresa tus apellidos'}}) }}
              {{ form_errors(form.apellidos) }}
            </div>
            
            {% if form.contrasena is defined %}
              <div class="form-group">
                {{ form_label(form.contrasena, 'Contraseña') }}
                {{ form_widget(form.contrasena, {'attr': {'class': 'form-control', 'placeholder': 'Ingresa tu contraseña'}}) }}
                {{ form_errors(form.contrasena) }}
              </div>
            {% endif %}
            
            <hr />
            <button type="submit" class="btn btn-primary btn-login w-full">Registrar</button>
          {{ form_end(form) }}

          <div class="login-text-dont-have-account">
            ¿Ya tienes una cuenta? -
            <a href="{{ path('app_login') }}">Haz click aquí para iniciar sesión</a>
          </div>
        </div>
        
        <div class="auth-page-image">
          <img src="{{ asset('images/carlogo.png') }}" alt="Car Image" class="img-responsive" />
        </div>
      </div>
    </div>
  </main>
</body>
{% endblock %}